ClientRequestSoap/ClientRequestSoap/Web References/SoapService/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:61326/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:61326/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_getAllUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllUsers" />
  </wsdl:message>
  <wsdl:message name="IService_getAllUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IService_getAllUsersJson_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllUsersJson" />
  </wsdl:message>
  <wsdl:message name="IService_getAllUsersJson_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllUsersJsonResponse" />
  </wsdl:message>
  <wsdl:message name="IService_insertUserXml_InputMessage">
    <wsdl:part name="parameters" element="tns:insertUserXml" />
  </wsdl:message>
  <wsdl:message name="IService_insertUserXml_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertUserXmlResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="getAllUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/getAllUsers" message="tns:IService_getAllUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/getAllUsersResponse" message="tns:IService_getAllUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAllUsersJson">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/getAllUsersJson" message="tns:IService_getAllUsersJson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/getAllUsersJsonResponse" message="tns:IService_getAllUsersJson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insertUserXml">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/insertUserXml" message="tns:IService_insertUserXml_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/insertUserXmlResponse" message="tns:IService_insertUserXml_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getAllUsers">
      <soap:operation soapAction="http://tempuri.org/IService/getAllUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllUsersJson">
      <soap:operation soapAction="http://tempuri.org/IService/getAllUsersJson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertUserXml">
      <soap:operation soapAction="http://tempuri.org/IService/insertUserXml" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:61326/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>